<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-sm-3 card p-2"><p class="p-0 m-0">Tasks</p></div>
            <div class="col-sm-1 card p-2"><p class="p-0 m-0">Mon</p></div>
            <div class="col-sm-1 card p-2"><p class="p-0 m-0">Tue</p></div>
            <div class="col-sm-1 card p-2"><p class="p-0 m-0">Wed</p></div>
            <div class="col-sm-1 card p-2"><p class="p-0 m-0">Thu</p></div>
            <div class="col-sm-1 card p-2"><p class="p-0 m-0">Fri</p></div>
            <div class="col-sm-1 card p-2"><p class="p-0 m-0">Sat</p></div>
            <div class="col-sm-1 card p-2"><p class="p-0 m-0">Sun</p></div>
            <div class="col-sm-2 card p-2"><p class="p-0 m-0">TOTAL</p></div>
          </div>
          <div class="row" v-for="(row, index) in rows" :key="index">
            <div class="col-sm-3 card">
              <div v-if="row.tasks && row.tasks.length">
                <div class="" v-for="(task, index) in row.tasks" :key="index">
                  <p class="text-left">
                    <span class="badge">[{{ task.type }}]</span>
                    <span>{{ task.name }}</span>
                  </p>
                </div>
              </div>
              <div v-else>
                <p class="text-left">No tasks this week!</p>
              </div>
            </div>
            <div
              class="col-sm-1 card text-left"
              :class="{
                'bg-light': !days.inRangeDay,
                'bg-white': days.inRangeDay,
              }"
              v-for="(days, index) in row.daysInWeek"
              :key="index"
            >
              <p class="text-right pb-1 m-0">
                <span class="badge badge-pill badge-primary mb-2">
                  {{ days.dateDay }}
                </span>
              </p>
              <span> {{ days.timeLogged }} Hrs. </span>
            </div>
            <div class="col-sm-2 card p-2">
              <p>Total: {{ row.totalTimeLoggedInWeek }} Hrs.</p>
              <p>
                Planned:
                {{ row.totalPlannedTaskHr }} Hrs.
              </p>
              <p>
                Unplanned:
                {{ row.totalUnPlannedTaskHr }} Hrs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <Bar
            :chart-options="chartOptions"
            :chart-data="chartData"
            :chart-id="chartId"
            :dataset-id-key="datasetIdKey"
            :plugins="plugins"
            :css-classes="cssClasses"
            :styles="styles"
            :width="width"
            :height="height"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

import { Bar } from "vue-chartjs/legacy";

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from "chart.js";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
);

export default {
  name: "App",
  components: {
    Bar,
  },
  data() {
    return {
      startDate: "2022-05-30",
      endDate: "2022-06-17",
      time_logs: [
        {
          tasks: [
            {
              id: "tsk1",
              name: "Put Call to add An item",
              type: "planned",
            },
            {
              id: "tsk1",
              name: "Test add item",
              type: "unplanned",
            },
          ],
          timeLogged: {
            MON: {
              planned: 3,
              unplanned: 3,
              total: 6,
            },
            TUE: {
              planned: 2,
              unplanned: 4,
              total: 6,
            },
            WED: {
              planned: 6,
              unplanned: 0,
              total: 6,
            },
            THU: {
              planned: 3,
              unplanned: 3,
              total: 6,
            },
            FRI: {
              planned: 2,
              unplanned: 4,
              total: 6,
            },
          },
        },
        {
          tasks: [
            {
              id: "tsk1",
              name: "Put Call to add An Post",
              type: "planned",
            },
            {
              id: "tsk1",
              name: "Test add Post",
              type: "unplanned",
            },
          ],
          timeLogged: {
            MON: {
              planned: 2,
              unplanned: 4,
              total: 6,
            },
            TUE: {
              planned: 2,
              unplanned: 4,
              total: 6,
            },
            WED: {
              planned: 2,
              unplanned: 4,
              total: 6,
            },
            THU: {
              planned: 2,
              unplanned: 4,
              total: 6,
            },
            FRI: {
              planned: 2,
              unplanned: 4,
              total: 6,
            },
          },
        },
      ],
    };
  },

  computed: {
    rows() {
      moment.updateLocale("en", {
        week: {
          dow: 1,
        },
      });

      const format = "YYYY-MM-DD";
      const start = moment(this.startDate, format);
      const end = moment(this.endDate, format);

      const row = {};
      let week = 0;

      let totalTimeLoggedInWeek = 0;
      let totalPlannedTaskHr = 0;
      let totalUnPlannedTaskHr = 0;

      while (start.isSameOrBefore(end)) {
        const day = start.day();
        const date = start.format(format);
        const dateDay = start.format("DD");
        const dayName = start.format("ddd").toUpperCase();
        if (day === 1) {
          week++;
          totalTimeLoggedInWeek = 0;
          totalPlannedTaskHr = 0;
          totalUnPlannedTaskHr = 0;
        }

        const timeLogged =
          this.time_logs[week - 1]?.timeLogged[dayName]?.total || 0;
        totalTimeLoggedInWeek = totalTimeLoggedInWeek + timeLogged;

        const timeLoggedPlanned =
          this.time_logs[week - 1]?.timeLogged[dayName]?.planned || 0;
        totalPlannedTaskHr = totalPlannedTaskHr + timeLoggedPlanned;
        const timeLoggedUnPlanned =
          this.time_logs[week - 1]?.timeLogged[dayName]?.unplanned || 0;
        totalUnPlannedTaskHr = totalUnPlannedTaskHr + timeLoggedUnPlanned;

        if (row[week]) {
          row[week].daysInWeek.push({
            date,
            dateDay,
            day: dayName,
            timeLogged,
            inRangeDay: true,
          });
          row[week].totalTimeLoggedInWeek = totalTimeLoggedInWeek;
          row[week].totalPlannedTaskHr = totalPlannedTaskHr;
          row[week].totalUnPlannedTaskHr = totalUnPlannedTaskHr;
        } else {
          row[week] = {
            daysInWeek: [
              {
                date,
                dateDay,
                day: dayName,
                timeLogged,
                inRangeDay: true,
              },
            ],
            tasks: this.time_logs[week - 1]?.tasks || [],
            totalTimeLoggedInWeek,
            totalPlannedTaskHr,
            totalUnPlannedTaskHr,
          };
        }

        start.add(1, "day");
      }

      const endOfLastWeek = moment(start).endOf("week");

      while (start.isSameOrBefore(endOfLastWeek)) {
        const date = start.format(format);
        const dateDay = start.format("DD");
        const dayName = start.format("ddd").toUpperCase();
        row[week].daysInWeek.push({
          date,
          dateDay,
          day: dayName,
          timeLogged: 0,
        });
        row[week].totalTimeLoggedInWeek = totalTimeLoggedInWeek;

        start.add(1, "day");
      }
      return row;
    },

    chartData() {
      const labels = [];
      Object.values(this.rows).forEach((_, i) => {
        labels.push(`Week ${i + 1}`);
      });

      return {
        labels,
        datasets: [
          {
            label: "Planned task",
            backgroundColor: "blue",
            data: Object.values(this.rows).map((row) => row.totalPlannedTaskHr),
          },
          {
            label: "Unplanned task",
            backgroundColor: "red",
            data: Object.values(this.rows).map(
              (row) => row.totalUnPlannedTaskHr
            ),
          },
        ],
      };
    },
    chartOptions() {
      return {
        responsive: true,
        maintainAspectRatio: false,
      };
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
